*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 10000px;
}
a{
    color: grey;

}

.header{
    background-color: #212121;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 1;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #212121;
}

.header ul a{
    display: block;
    padding: 20px;
}
.header ul a:hover{
    background-color: #181818;
    color: yellow;
}
.header .menu{
    clear: both; /*i link non si adeguano al logo*/
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: yellow;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
}
.header .menu-icon .nav-icon::before{
    background-color: yellow;
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    transition: background-color .2s ease-out;
}
.header .menu-icon .nav-icon:after{
    background-color: yellow;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    transition: background-color .2s ease-out;
}


.header .menu-btn{
    display: none;
}
.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

header .menu-btn:checked~.menu-icon .nav-icon{
    background-color: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0;
} 
.container{
  background-color: #081b29;
  display: flex;
  flex-wrap: wrap;
  min-height: 1000px;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: white;
    border-bottom: 1px solid #00abf0;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}
.home-content{
    width: 20%;
    margin-left: 35%;
}
.home-content h1{
    font-weight: 700;
    font-size: 36px;
}
.home-content h3{
    font-weight: 700;
    color: #00abf0;
}
.image{
    border-radius: 80px;
    height: 250px;
    width: 250px;
}


.services{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
}
.main-text{
    width: 10%;     
    height: 50%;
    margin-top: 10px;
}

.main-text p{
    color: white;
}
.main-text h3{
    color: #00abf0;

}
.titles{
       width: 100%;
       text-align: center;
       max-height: 30px;
}

.titles{
    color: white;
}
.titles span{
    color: #00abf0;
}
.contact-form{
    width: 100%;
    text-align: center;
}
.contact-form h3{
    color: white;
    font-size: 30px;
}
.contact-form span{
    color: #00abf0;
}
.social a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
      margin-right: 20px;
}
.social a::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: white;
   z-index: -1;
   transition: .5s;
}
.social a:hover::before{
    width: 100%;

}
@media (max-width:460px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
   
    p{
        font-size: 12px;
    }
    .home-content{
        width: 100%;
        }
        .home{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: flex-end;
        }
        .services{
            flex-direction: column;
            align-items: center;
        }
    .main-text{
        width: 60%;
    }
    .image{
        width: 200px;
        height: 200px;
        display: block;
        position: relative;
        right: 50px;
    }
}
@media (max-width:290px){
    .home-content{
        margin: 0;
    }
    .image{
        left: 5px;
    }
}
@media only screen and (min-width: 461px) and (max-width: 960px){
    .home-content{
        width: 60%;
    }
    .image{
        width: 150px;
        height: 150px;
    }
    .main-text{
        width: 60%;
    }
}