

html,
body{
    height: 100%;
}

body{
    background-color: #45e534;
    background: linear-gradient(90deg,
    rgb(100, 211, 255) 0%,
    rgb(34, 214, 103) 100%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h1{
    color: red;
    text-align: center;
    font-style: italic;
    animation: rgb 5s ease-in-out infinite alternate;
}
.box{
    background-color: #45e534;
    background: linear-gradient(90deg,
    rgb(235, 238, 187) 0%,
    rgb(238, 43, 18) 100%);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
 #result{
    margin-bottom: 25px;
    font-size: 76px;
 }

 button{
    color: #262626;
    background-color: white;
    padding: 10px 35px;
    border :0;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.5s;
 }
 .ore{
    animation: glow 0.11s ease-in-out infinite alternate;
    color: white;
    font-size: 46px;
    text-align: right;
    
 }

 button:hover{
    background-color: #45e534;
    background: linear-gradient(90deg,
    rgb(255, 105, 100) 0%,
    rgb(230, 227, 51) 100%);
 }
@keyframes glow{
    100%{
        text-shadow: 
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 50px rgb(0, 238, 255),
        0 0 90px rgb(0, 255, 255),
        0 0 100px rgb(0, 140, 255),
        0 0 110px rgb(0, 110, 255),
        0 0 200px rgb(0, 4, 255);
    }
    0%{
        text-shadow: 
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px rgb(0, 217, 255),
        0 0 73px rgb(0, 140, 255),
        0 0 80px rgb(0, 195, 255),
        0 0 94px rgb(0, 174, 255),
        0 0 140px rgb(0, 217, 255);
    }
}
@keyframes rgb{
    0%{color: red;
        text-shadow: 0 0 16px red;}
    10%{color: orange;
        text-shadow: 0 0 16px orange;}
    20%{color: yellow;
        text-shadow: 0 0 16px yellow;}
    30%{color: lightgreen;
        text-shadow: 0 0 16px lightgreen;}
    40%{color: green;
        text-shadow: 0 0 16px green;}
    50%{color: lightblue;
        text-shadow: 0 0 16px lightblue;}
    60%{color: azure;
        text-shadow: 0 0 16px azure;}
    70%{color: blue;
        text-shadow: 0 0 16px blue;}
    
}



@media  screen and (min-width:10px) and (max-width:375px) {
    button{
        padding: 10px;
    }
}
@media screen and (min-width:378) and (max-width:559){
    button{
        padding: 16px;
    }

}
    


@media screen and (min-width:560px) and (max-width:1000px){
    
    button{
        padding: 20px;
        font-size: 20px;
        width: 20%;
    }
    .box{
        width: 60%;
    }
    
}
 

