*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
}

p{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 20%;
}
a{
    color: grey;

}

.header{
    background-color: #212121;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #212121;
}

.header ul a{
    display: block;
    padding: 20px;
}
.header ul a:hover{
    background-color: #181818;
    color: yellow;
}
.header .logo{
    float: left;
    padding: 10px 20px;
    width: 50PX;
}
.header .menu{
    clear: both; /*i link non si adeguano al logo*/
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: yellow;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
}
.header .menu-icon .nav-icon::before{
    background-color: yellow;
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    transition: background-color .2s ease-out;
}
.header .menu-icon .nav-icon:after{
    background-color: yellow;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    transition: background-color .2s ease-out;
}


.header .menu-btn{
    display: none;
}
.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

header .menu-btn:checked~.menu-icon .nav-icon{
    background-color: transparent;
}
header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0;
}
header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0;
}
@media(min-width:48em){
    .header li{
        float:left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{ 
        clear: none;
        float: right;
        max-height: 0;
        
    }
}
section{
    margin: 20px;
    border-top: 10%;
    position: absolute;
    top:50%;
    left: 25%;
    width: 50%;
    text-align: center;
    color: white;
}
.img{
    position: absolute;
    top: 10%;
    right: 40%;
    width: 18%;
    height: 35%;
}
@media (max-width:400px) {
    section{
        border-top: 40px;
        position: absolute;
        top:60%;
        left: 10%;
        width: 50%;
    }
    .img{
        position: absolute;
        top: 150px;
        right: 25%;
        left:20%;
        width:50%;
    }
    
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
    section{
        border-top: 40px;
        position: absolute;
        top:60%;
        left: 5%;
        width: 80%;
    }
    .img{
        position: absolute;
        top: 35%;
        right: 42%;
        width:20%;
        height: 22%;
    }
    
}
